Kali Linux NetHunter Rootless: The most powerful security toolkit for Android, without rooting your device. Run security tools like Nmap, Metasploit, and Wireshark on your Android device without voiding your warranty. Access a wide range of penetration testing tools and utilities, right from your Android phone or tablet.

INSTALLATION

   pkg update -y && pkg upgrade -y
   termux-setup-storage 
   pkg install wget -y
   pkg install figlet
   pkg install python3
   pkg install python-pip
   pip install lolcat
   wget https://github.com/AryanVBW/kali-Linux-Android/releases/download/T1/vivek
   wget https://github.com/AryanVBW/kali-Linux-Android/releases/download/T1/default.bashrc
   cp default.bashrc .bashrc
  

Copy it for NetHunter Rootless Edition:

wget -O install-nethunter-termux https://offs.ec/2MceZWr
   chmod +x install-nethunter-termux
 ./install-nethunter-termux
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
